{% extends 'remotestatus/base.html' %}

{% block content %}
    <h1>Current Remote Box Status</h1>

    <p class='fl'>
        Last Updated On:
        <form id='change-round-form' method='post' action='{% url rs-dashboard %}'>
            {% csrf_token %}
            <select onchange='submitForm();' name='call_round' style='margin-top:-1px;margin-left:10px;'>
                {% for cr in call_rounds %}
                    <option {% if cr == call_round %}selected='True'{% endif %} value='{{ cr.id }}'>{{ cr }}</option>
                {% endfor %}
            </select>
        </form>
    </p>

    <script>
        function submitForm(){
            document.getElementById('change-round-form').submit();
        }
    </script>

    {% include 'remotestatus/status_history_table.html' %}
{% endblock %}